.chat-main

  .main__header
    .main__header__left-box
      .main__header__left-box__group
        = @group.name
      .main__header__left-box__member
        Members:
        = current_user.name
    .main__header__edit
      = link_to "Edit", edit_group_path(params[:group_id]) , class: "edit-btn"
  .main__message
    = render @messages
    

  .main__form
    .message-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-box__input', placeholder: 'type a message' 
       
        = f.label :image, class: 'image' do
          = icon('fas', 'image')
          = f.file_field :image, class: "file"
        
        = f.submit 'Send', class: 'btn'





   
      
 